<div class="select">
  <div class="input-container" 
       (click)="isOptionsShown = !isOptionsShown" 
       cdkOverlayOrigin 
       #trigger="cdkOverlayOrigin">
    <input class="select__input" 
           type="text" 
           [value]="value.name || ''" 
           [placeholder]="'Choose item'"
           (keyup)="onKey($event)" />
    <mat-icon *ngIf="!isOptionsShown">keyboard_arrow_down</mat-icon>
    <mat-icon *ngIf="isOptionsShown">keyboard_arrow_up</mat-icon>
  </div>
  <ng-template cdkConnectedOverlay 
               [cdkConnectedOverlayOrigin]="trigger" 
               [cdkConnectedOverlayOpen]="isOptionsShown"
               (detach)="isOptionsShown = false" 
               (overlayOutsideClick)="isOptionsShown = false">
    <div *ngIf="isOptionsShown" class="items-container">
      <div *ngFor="let option of options | filter : searchValue" 
           (click)="selectOption(option)" 
           class="item">
        <span>{{ option["name"] }}</span>
      </div>
      <div *ngIf="!options.length">No data to display</div>
    </div>
  </ng-template>
</div>