.select {
  max-width: 100%;
  padding: 15px 15px 2px 17px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.04);
  &__input {
    width: 90%;
    background-color: inherit;
    border: 0;
    padding-bottom: 15px;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: black;
    }
  }
}

.input-container {
  display: flex;
}

.items-container {
  width: 365px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.item {
  padding-bottom: 15px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
  background-color: white;
  text-align: center;
  padding: 10px;
  margin: 0;
  &:first-child {
    padding-top: 15px;
  }
  &:hover {
    background-color: #eee;
  }
}
