<div class="select">
  <div class="input-container"
       [style.border-bottom]="isOptionsShown ? '1px solid gray' : '0'"
       (click)="isOptionsShown = !isOptionsShown">
    <input class="select__input"
           type="text"
           [value]="!inputValue.name ? '': inputValue.name"
           [placeholder]="'Choose item'"
           (keyup)="onKey($event)"/>
    <mat-icon *ngIf="!isOptionsShown">keyboard_arrow_down</mat-icon>
    <mat-icon *ngIf="isOptionsShown">keyboard_arrow_up</mat-icon>
  </div>
  <div *ngIf="isOptionsShown" class="items-container">
    <div *ngFor="let option of options | filter : searchValue"
      (click)="writeValue(option)"
      class="item">
      <span>{{ option["name"] }}</span>
    </div>
    <div *ngIf="!options.length">No data to display</div>
  </div>
  <div *ngIf="isOptionsShown" (click)="isOptionsShown = false"></div>
</div>
