.select {
  max-width: 100%;
  padding: 15px 15px 0 15px;
  border-bottom: 1px solid gray;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.04);
  &__input {
    width: 90%;
    background-color: inherit;
    border: 0;
    padding-bottom: 15px;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: black;
    }
  }
}

.items-open {
  border-bottom: 1px solid lightgray;
}

.input-container {
  display: flex;
}

.items__container {
  display: flex;
  flex-direction: column;
}

.item {
  margin-bottom: 15px;
  &:first-child {
    margin-top: 15px;
  }
}
