<mat-toolbar color="primary" class="toolbar__heading">
    <mat-toolbar-row>
        <span>Form</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar class="mat-elevation-z6 toolbar">
    <mat-toolbar-row class="button-container">
        <span>Open dialog</span>
        <button mat-icon-button (click)="openDialog()">
            <mat-icon color="primary">open_in_new</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-card *ngIf="formData" class='card'>
    <mat-card-content>
        <div class="content">
            <div>Name: {{formData.name}}</div>
            <div *ngIf="!formData.dateRange?.start">Date: {{formData.date | date: 'dd/MM/yyyy'}}</div>
            <div *ngIf="formData.dateRange?.start">Date range: {{formData.dateRange?.start | date: 'dd/MM/yyyy'}} -
                {{formData.dateRange?.end | date: 'dd/MM/yyyy'}}</div>
            <div>Time: {{formData.selectedTimeSlot?.name}}</div>
            <div>Phone: {{formData.phone}}</div>
            <div>Email: {{formData.email}}</div>
            <div>Option: {{formData.selectedOption?.name}}</div>
        </div>
    </mat-card-content>
</mat-card>