.icon {
  padding: 7px 5px 7px 7px;
  cursor: pointer;
  &:hover {
    border-radius: 50%;
    background-color: lightgray;
  }
}

.input {
  position: relative;
  min-width: 100%;
}

.datepicker {
  position: absolute;
  top: 4px;
  left: -230px;
  width: 300px;
  height: 370px;
  padding: 20px 10px;
  margin: 0;
  border: solid 1px #ccc;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  &__header {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    font-weight: 500;
  }
  &__button {
    padding: 3px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #fff;
  }
}

.day-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(7, 34px);
  grid-auto-rows: 34px;
}

.empty {
  border: none;
  background-color: #fff;
}

.day {
  border: none;
  background-color: #fff;
  border-radius: 5px;
  &:hover {
    background-color: rgba(63, 81, 181, 0.2);
    color: black;
    outline: 5px solid rgba(63, 81, 181, 0.2);
  }
  &--current {
    border: none;
    background-color: #3f51b5;
    color: white;
    outline: 5px solid #3f51b5;
  }
  &--chosen {
    background-color: rgba(63, 81, 181, 0.2);
    color: black;
    outline: 5px solid rgba(63, 81, 181, 0.2);
  }
}
.header {
  color: gray;
}

.mat-form-field-wrapper {
  padding: 0;
}
