.icon {
  padding: 7px 5px 7px 7px;
  cursor: pointer;
  &:hover {
    border-radius: 50%;
    background-color: lightgray;
  }
}

.input {
  position: relative;
  min-width: 100%;
}

.mat-form-field-wrapper {
  padding: 0;
}
