<div class="container">
    <mat-form-field appearance="fill" class="input">
        <mat-label *ngIf="!isChecked" for="date">Date*</mat-label>
        <mat-label *ngIf="isChecked" for="dateRange">Date range*</mat-label>
        <input *ngIf="!isChecked"
               matInput 
               id="date" 
               mask="00/00/0000" 
               (keyup)="onKey($event)"
               value="{{selectedDate || '' | date: 'dd/MM/yyyy'}}"/>
        <input *ngIf="isChecked"
               matInput 
               id="dateRange" 
               mask="00/00/0000 - 00/00/0000" 
               (keyup)="onKey($event)"
               value="{{selectedRange.start || '' | date: 'dd/MM/yyyy'}} - {{selectedRange.end || '' | date: 'dd/MM/yyyy'}}"/>
        <mat-icon matSuffix 
                  (click)="isOpen = !isOpen"
                  class="icon"  
                  cdkOverlayOrigin
                  #trigger="cdkOverlayOrigin">
            date_range
        </mat-icon>
        <mat-hint *ngIf="!isChecked">*DD/MM/YYYY</mat-hint>
        <mat-hint *ngIf="isChecked">*DD/MM/YYYY - DD/MM/YYYY</mat-hint>
    </mat-form-field>
    <ng-template cdkConnectedOverlay 
                 [cdkConnectedOverlayOrigin]="trigger" 
                 [cdkConnectedOverlayOpen]="isOpen"
                 (overlayOutsideClick)="isOpen = false">
        <div class="datepicker">
            <div class="datepicker__header">
                <button class="datepicker__button" (click)="previousMonth()">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
                <div>{{currentMonth}} {{currentYear}}</div>
                <button class="datepicker__button" (click)="nextMonth()">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
            </div>
            <div class="day-container">
                <div class="header" *ngFor="let header of headers">{{header}}</div>
                <button class="empty" 
                        *ngFor="let date of datesBeforeFirst">
                </button>
                <button class="day" 
                        *ngFor="let date of datesOfCurrentMonth" 
                        (click)="selectDate(date)"
                        [class.day--chosen]="date.toString() === selectedDate?.toString() || isRangeContainsDate(date)"
                        [class.day--current]="date.toString() === currentDate.toString()">
                    {{date.getDate()}}
                </button>
            </div>
        </div>
    </ng-template>
</div>