.form-wrapper {
  padding: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  & > * {
    margin-bottom: 30px;
  }
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.mat-dialog-content {
  overflow-y: hidden;
}

.button {
  width: 45%;
}
