<div class="select" [ngStyle]="{'background-color': showMenuItems ? 'white' : 'transparent'}">
    <div class="input-container" 
        [ngStyle]="{'border-bottom': showMenuItems ? '1px solid gray' : '0'}" 
        (click)="showMenuItems = !showMenuItems" >
        <input class="select__input" 
            #nameInput type="text" 
            [placeholder]="selectedItem ? selectedItem['name'] : 'Choose item'" 
            (keyup)="onKey($event)">
    <mat-icon *ngIf="!showMenuItems">keyboard_arrow_down</mat-icon>
    <mat-icon *ngIf="showMenuItems">keyboard_arrow_up</mat-icon>
</div>
    <div  *ngIf="showMenuItems" class="items-container">
        <div  *ngFor="let item of data | filter:searchValue" 
                (click)="selectItem(item)"
                class="item">
            <span [innerText]="item['name']" ></span>
        </div>
        <div *ngIf="data.length == 0">No data to display.</div>
    </div>
    <div *ngIf="showMenuItems"  
         (click)="showMenuItems = false">
    </div>
</div>
