<div class="form-wrapper">
  <div mat-dialog-content>
    <form [formGroup]="form" class="form">
      <mat-form-field appearance="fill">
        <mat-label for="name">Name</mat-label>
        <input matInput id="name" type="text" formControlName="name" />
        <mat-hint *ngIf="!form.controls['name'].valid  && form.controls['name'].touched">
          *Must contain only letters
        </mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="dateAndTime">
          <span *ngIf="!form.value.isApproximateDate">Date and time</span>
          <span *ngIf="form.value.isApproximateDate">Date and time range</span>
        </mat-label>
        <input matInput
               appSet
               *ngIf="!form.value.isApproximateDate"
               id="dateAndTime"
               formControlName="dateAndTime"
               mask="00/00/0000 00:00"/>
        <input matInput
               appSet
               *ngIf="form.value.isApproximateDate"
               id="dateAndTime"
               formControlName="dateAndTime"
               mask="00/00/0000 00:00 - 00:00"/>
        <mat-icon matSuffix>calendar_today</mat-icon>
        <mat-hint *ngIf="!form.controls['dateAndTime'].touched">
          <span *ngIf="!form.value.isApproximateDate">*MM/DD/YYYY HH:MM</span>
          <span *ngIf="form.value.isApproximateDate">*MM/DD/YYYY HH:MM - HH:MM</span>
        </mat-hint>
        <mat-hint *ngIf="!form.controls['dateAndTime'].valid && form.controls['dateAndTime'].touched">
          *Invalid date and time
        </mat-hint>
      </mat-form-field>
      <section>
        <mat-checkbox formControlName="isApproximateDate" (change)="onChangeEvent($event)">
          <span>Approximate meeting date</span>
        </mat-checkbox>
      </section>
      <mat-form-field appearance="fill">
        <mat-label for="phone">Phone number</mat-label>
        <input matInput
               id="phone"
               formControlName="phone"
               mask="(000) 000-00-00"/>
        <mat-icon matSuffix>phone</mat-icon>
        <mat-hint *ngIf="!form.controls['phone'].touched">*0XX XXX XX XX</mat-hint>
        <mat-hint *ngIf="!form.controls['phone'].valid && form.controls['phone'].touched">
          *Invalid number
        </mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="email">Email</mat-label>
        <input matInput id="email" type="email" formControlName="email" />
        <mat-icon matSuffix> email</mat-icon>
        <mat-hint *ngIf="!form.controls['email'].valid && form.controls['email'].touched">
          *Invalid email
        </mat-hint>
      </mat-form-field>
      <section class="select-container">
        <app-select-object [options]="options" formControlName="selectOption">
        </app-select-object>
      </section>
      <div mat-dialog-actions class="buttons-container">
        <button mat-raised-button
                color="basic"
                (click)="onCloseClick()"
                class="button">
                Cancel
        </button>
        <button mat-raised-button
                color="primary"
                [disabled]="form.invalid"
                (click)="onSubmit()"
                class="button">
          Save changes
        </button>
      </div>
    </form>
  </div>
</div>
